<center>
<h1>Coach's answer</h1>
<h2>Your question is :</h2>
<%= @question %>
<h2>Your coach answer's is :</h2>
<%= @response %>


<h2>Other questions to your coach ?</h2>
<form action="ask">
    <input type="submit" id="submit-btn" value="Ask an other question" />
</form>
</center>
